
<div class="newpost-container">
    <div class="spacer"><span>spacer</span></div>

    <span class="uploadDescription">Upload your code using the upload file button below.</span>
    <input type="file" id="file" name="file"/>
    <button class="uploadFile">Upload</button>

    <div class="left-content">
      <span class="desc">This is the left content</span>
      <span class="filename">{{filename}}</span>
      <div class="uploadedFileText">

      </div>
    </div>
    <div class="right-content">
      <span class="desc">This is the right content</span>
    </div>
</div>
  
  